<?D
import mood.templates;
bool admin = false;
if (req.session)
    admin = req.session.get!(bool)("admin");

/?>
<!DOCTYPE html>
<html>
    <head>
        <include:resources.html/>
        <title>reece.ooo - Control Panel</title>
    </head>
    <body>
        <include:nav.html/>
        <?D
            if (admin)
            {
                        output(`<section class="section">
                                    <div class="container">
                                        <nav class="panel">
                                            <p class="panel-heading">blog posts</p>
                                            <div class="panel-block">
                                                <div class="field">
                                                    <div class="control">
                                                        <button class="button is-link is-primary" id="new-post" onclick='location = "/editor/new"'><i class="far fa-plus-square"></i>create new post</button>
                                                    </div>
                                                </div>
                                            </div>
                                                `);
                                                foreach(post; posts)
                                                {
                                                    output(`<div class="panel-block">
                                                                <div class="field is-grouped">
                                                                    <div class="control">
                                                                        <button class="button is-link is-warning" id="edit-` ~ post.url ~ `" onclick='location = "/editor/edit/` ~ post.url ~ `"'>
                                                                            <i class="far fa-edit"></i> edit
                                                                        </button>
                                                                    </div>
                                                                    <div class="control">
                                                                        <button class="button is-link is-danger deletepost" id="delete-` ~ post.url ~ `" onclick='postDelete("` ~ post.url ~ `");'>
                                                                            <i class="far fa-trash-alt"></i> delete
                                                                        </button>      
                                                                    </div>
                                                                    <a href="/blog/` ~ post.url ~ `"><strong>` ~ post.name ~ `</strong></a>
                                                                    <span style="width: 15px"></span>
                                                                    <p>` ~ post.description ~ `</p>
                                                                </div>
                                                            </div>`);
                                                }
                                                output(`
                                        </nav>
                                    </div>
                                </section>`);
            }
        /?>
        <script>
            function postDelete(url) {
                $.post("/delete-post", {
                    url: url
                }, function(r) {
                    location.reload();
                });
            }    
        </script>
    </body>
    <include:footer.html/>
</html>