<?D
import blog.post: BlogPost;
import blog.manipulation: getAllPosts;
import vibe.textfilter.markdown: MarkdownFlags, filterMarkdown;
import vibe.http.server: HTTPServerRequest, HTTPServerResponse;


string toHTML(BlogPost post)
{
    return `<div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-parent">
                        <div class="tile is-child notification">
                            <a href="/blog/` ~ post.url ~ `"><p class="title">` ~ post.name ~ `</p></a>
                            <p class="subtitle">` ~ post.date ~ ` - ` ~ post.description ~ `</p>
                            <article class="content">
                                ` ~ filterMarkdown(post.content, MarkdownFlags.backtickCodeBlocks | MarkdownFlags.keepLineBreaks | MarkdownFlags.tables) ~ `
                            </article>
                        </div>
                    </div>
                </div>
            </div>`;
}

/?>
<!DOCTYPE html>
<html>
    <head>
        <include:resources.html/>
    </head>
    <body>
        <section class="hero is-dark is-fullheight">
            <div class="hero-head">
                <include:nav.html/>
            </div>
            <div class="hero-body has-text-centered">
                <div class="container">
                    <article class="content">
                        <p class="title" style="font-size: 6em; margin-bottom: 30px;">Reece Jones</p>
                        <p class="subtitle">A person who is passionate about computers and programming.</p>
                    </article>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <?D
                    {
                        auto posts = getAllPosts();
                        foreach(i, post; posts)
                        {
                            if (i >= 3)
                                break;
                            output(toHTML(post));
                        }
                    }
                /?>
            </div>
        </section>
    </body>
    <include:footer.html/>
</html>