<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" data-target="issuebar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item"><div><i class="fas fa-home"></i> home</div></a>
            <a href="/blog" class="navbar-item"><div><i class="fas fa-rss"></i> blog</div></a>
            <a href="https://github.com/ReeceJones" class="navbar-item"><div><i class="fab fa-github"></i> github</div></a>
            <a href="https://gist.github.com/ReeceJones" class="navbar-item"><div><i class="fas fa-code"></i> gist</div></a>
            <a href="/projects" class="navbar-item"><div><i class="fas fa-microchip"></i> projects</div></a>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <?D
                if (req.session)
                {
                    output(`<a class="navbar-item" href="/control-panel"><div><i class="fas fa-cogs"></i> control panel</div></a>`);
                    output(`<a class="navbar-item" href="/logout"><div><i class="fas fa-sign-out-alt"></i> logout</div></a>`);
                }
                else
                {
                    output(`<a class="navbar-item" href="/login"><div><i class="fas fa-sign-in-alt"></i> login</div></a>`);
                }
            /?>
        </div>
    </div>
    <script>
        $("#burger").click(function() {
            $("#burger").toggleClass("is-active");
            $("#bar").toggleClass("is-active");
        });
    </script>
</nav>