<?D
import std.conv: text;
import blog.post;
/?>
<!DOCTYPE html>
<html>
    <head>
        <include:resources.html/>
        <title>reece.ooo - {{ name }}</title>
    </head>
    <body>
        <include:nav.html/>
        <section class="section">
            <div class="container">
                <p class="title">{{ name }}</p>
                <p class="subtitle">{{ date }} - {{description }}</p>
                <h3>By {{ author }}</h3>
                <br>
                <article class="content">
                    {{ content }}
                </article>
            </div>
        </section>
    </body>
    <include:footer.html/>
</html>